.button-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: fit-content;
  height: fit-content;
  border-radius: 10px;
  user-select: none;
}
.button-wrapper.disabled {
  opacity: 0.5;
}
.button-wrapper.solid {
  background-color: var(--primary-normal);
  color: white;
}
.button-wrapper.outlinePrimary,
.button-wrapper.outlineSecondary,
.button-wrapper.outlineAssistive {
  background-color: white;
  outline: none;
}
button {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  background-color: transparent;
}
button:disabled {
  cursor: not-allowed;
}
button.small {
  padding: 7px 14px;
  font-size: 14px;
  gap: 6px;
}
button.medium {
  padding: 9px 20px;
  font-size: 16px;
  gap: 8px;
}
button.large {
  padding: 12px 28px;
  font-size: 20px;
  gap: 10px;
}
button.outlinePrimary,
button.outlineSecondary,
button.outlineAssistive {
  color: var(--primary-normal);
  border: 2px solid;
}

button.text.medium {
  padding: 6px 8px;
}
button.text.large {
  padding: 12px 28px;
}
button.outlinePrimary {
  border-color: var(--primary-normal);
}
button.outlineSecondary {
  border-color: rgba(112, 115, 124, 0.22);
}
button.outlineAssistive {
  border-color: rgba(112, 115, 124, 0.22);
  color: #171719;
}

.interaction {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  transition: all 0.3s ease;
  border-radius: 10px;
}

.interaction.normal {
  background-color: rgba(0, 0, 0, 0);
}

button:focus + .interaction.normal {
  background-color: rgba(0, 0, 0, 0.12);
}

button:hover + .interaction.normal {
  background-color: rgba(0, 0, 0, 0.075);
}

.button-wrapper.disabled .interaction.normal {
  background-color: rgba(0, 0, 0, 0);
}

.interaction.pressed {
  background-color: rgba(0, 0, 0, 0.18);
}
