@font-face {
  font-family: "DNFBit";
  src: url("../fonts/DNFBitBitv2.ttf") format("truetype");
}
@font-face {
  font-family: "DNFBladeBold";
  src: url("../fonts/DNFForgedBlade-Bold.ttf") format("truetype");
}
@font-face {
  font-family: "DNFBladeLight";
  src: url("../fonts/DNFForgedBlade-Light.ttf") format("truetype");
}
@font-face {
  font-family: "DNFBladeMedium";
  src: url("../fonts/DNFForgedBlade-Medium.ttf") format("truetype");
}

:root {
  /* common */
  --common-0: #000000; /* rgb(0, 0, 0) */
  --common-100: #ffffff; /* rgb(255, 255, 255) */

  /* neutral */
  --neutral-99: #f7f7f7; /* rgb(247, 247, 247) */
  --neutral-95: #dcdcdc; /* rgb(220, 220, 220) */
  --neutral-90: #c4c4c4; /* rgb(196, 196, 196) */
  --neutral-80: #b0b0b0; /* rgb(176, 176, 176) */
  --neutral-70: #9b9b9b; /* rgb(155, 155, 155) */
  --neutral-60: #8a8a8a; /* rgb(138, 138, 138) */
  --neutral-50: #737373; /* rgb(115, 115, 115) */
  --neutral-40: #5c5c5c; /* rgb(92, 92, 92) */
  --neutral-30: #474747; /* rgb(71, 71, 71) */
  --neutral-22: #303030; /* rgb(48, 48, 48) */
  --neutral-20: #2a2a2a; /* rgb(42, 42, 42) */
  --neutral-15: #1c1c1c; /* rgb(28, 28, 28) */
  --neutral-10: #171717; /* rgb(23, 23, 23) */
  --neutral-5: #0f0f0f; /* rgb(15, 15, 15) */

  /* coolNeutral */
  --coolNeutral-99: #f7f7f8; /* rgb(247, 247, 248) */
  --coolNeutral-98: #f4f4f5; /* rgb(244, 244, 245) */
  --coolNeutral-97: #eaebec; /* rgb(234, 235, 236) */
  --coolNeutral-96: #e1e2e4; /* rgb(225, 226, 228) */
  --coolNeutral-95: #dbdcdf; /* rgb(219, 220, 223) */
  --coolNeutral-90: #c2c4c8; /* rgb(194, 196, 200) */
  --coolNeutral-80: #aeb0b6; /* rgb(174, 176, 182) */
  --coolNeutral-70: #989ba2; /* rgb(152, 155, 162) */
  --coolNeutral-60: #878a93; /* rgb(135, 138, 147) */
  --coolNeutral-50: #70737c; /* rgb(112, 115, 124) */
  --coolNeutral-40: #5a5c63; /* rgb(90, 92, 99) */
  --coolNeutral-30: #46474c; /* rgb(70, 71, 76) */
  --coolNeutral-25: #37383c; /* rgb(55, 56, 60) */
  --coolNeutral-23: #333438; /* rgb(51, 52, 56) */
  --coolNeutral-22: #2e2f33; /* rgb(46, 47, 51) */
  --coolNeutral-20: #292a2d; /* rgb(41, 42, 45) */
  --coolNeutral-17: #212225; /* rgb(33, 34, 37) */
  --coolNeutral-15: #1b1c1e; /* rgb(27, 28, 30) */
  --coolNeutral-10: #171719; /* rgb(23, 23, 25) */
  --coolNeutral-7: #141415; /* rgb(20, 20, 21) */
  --coolNeutral-5: #0f0f10; /* rgb(15, 15, 16) */

  /* blue */
  --blue-99: #f7fbff; /* rgb(247, 251, 255) */
  --blue-95: #eaf2fe; /* rgb(234, 242, 254) */
  --blue-90: #c9defe; /* rgb(201, 222, 254) */
  --blue-80: #9ec5ff; /* rgb(158, 197, 255) */
  --blue-70: #69a5ff; /* rgb(105, 165, 255) */
  --blue-60: #3385ff; /* rgb(51, 133, 255) */
  --blue-55: #1a75ff; /* rgb(26, 117, 255) */
  --blue-50: #0066ff; /* rgb(0, 102, 255) */
  --blue-45: #005eeb; /* rgb(0, 94, 235) */
  --blue-40: #0054d1; /* rgb(0, 84, 209) */
  --blue-30: #003e9c; /* rgb(0, 62, 156) */
  --blue-20: #002966; /* rgb(0, 41, 102) */
  --blue-10: #001536; /* rgb(0, 21, 54) */

  /* red */
  --red-99: #fffafa; /* rgb(255, 250, 250) */
  --red-95: #feecec; /* rgb(254, 236, 236) */
  --red-90: #fed5d5; /* rgb(254, 213, 213) */
  --red-80: #ffb5b5; /* rgb(255, 181, 181) */
  --red-70: #ff8c8c; /* rgb(255, 140, 140) */
  --red-60: #ff6363; /* rgb(255, 99, 99) */
  --red-50: #ff4242; /* rgb(255, 66, 66) */
  --red-40: #e52222; /* rgb(229, 34, 34) */
  --red-30: #b00c0c; /* rgb(176, 12, 12) */
  --red-20: #730303; /* rgb(115, 3, 3) */
  --red-10: #3b0101; /* rgb(59, 1, 1) */

  /* green */
  --green-99: #f2fff6; /* rgb(242, 255, 246) */
  --green-95: #d9ffe6; /* rgb(217, 255, 230) */
  --green-90: #acfcc7; /* rgb(172, 252, 199) */
  --green-80: #7df5a5; /* rgb(125, 245, 165) */
  --green-70: #49e57d; /* rgb(73, 229, 125) */
  --green-60: #1ed45a; /* rgb(30, 212, 90) */
  --green-50: #00bf40; /* rgb(0, 191, 64) */
  --green-40: #009632; /* rgb(0, 150, 50) */
  --green-30: #006e25; /* rgb(0, 110, 37) */
  --green-20: #004517; /* rgb(0, 69, 23) */
  --green-10: #00240c; /* rgb(0, 36, 12) */

  /* orange */
  --orange-99: #fffcf7; /* rgb(255, 252, 247) */
  --orange-95: #fef4e6; /* rgb(254, 244, 230) */
  --orange-90: #fee6c6; /* rgb(254, 230, 198) */
  --orange-80: #ffd49c; /* rgb(255, 212, 156) */
  --orange-70: #ffc06e; /* rgb(255, 192, 110) */
  --orange-60: #ffa938; /* rgb(255, 169, 56) */
  --orange-50: #ff9200; /* rgb(255, 146, 0) */
  --orange-40: #d47800; /* rgb(212, 120, 0) */
  --orange-30: #9c5800; /* rgb(156, 88, 0) */
  --orange-20: #663a00; /* rgb(102, 58, 0) */
  --orange-10: #361e00; /* rgb(54, 30, 0) */

  /* redOrange */
  --redOrange-99: #fffaf7; /* rgb(255, 250, 247) */
  --redOrange-95: #feeee5; /* rgb(254, 238, 229) */
  --redOrange-90: #fed9c4; /* rgb(254, 217, 196) */
  --redOrange-80: #ffbd96; /* rgb(255, 189, 150) */
  --redOrange-70: #ff9b61; /* rgb(255, 155, 97) */
  --redOrange-60: #ff7b2e; /* rgb(255, 123, 46) */
  --redOrange-50: #ff5e00; /* rgb(255, 94, 0) */
  --redOrange-40: #c94a00; /* rgb(201, 74, 0) */
  --redOrange-30: #913500; /* rgb(145, 53, 0) */
  --redOrange-20: #592100; /* rgb(89, 33, 0) */
  --redOrange-10: #290f00; /* rgb(41, 15, 0) */

  /* lime */
  --lime-99: #f8fff2; /* rgb(248, 255, 242) */
  --lime-95: #e6ffd4; /* rgb(230, 255, 212) */
  --lime-90: #ccfca9; /* rgb(204, 252, 169) */
  --lime-80: #aef779; /* rgb(174, 247, 121) */
  --lime-70: #88f03e; /* rgb(136, 240, 62) */
  --lime-60: #6be016; /* rgb(107, 224, 22) */
  --lime-50: #58cf04; /* rgb(88, 207, 4) */
  --lime-40: #48ad00; /* rgb(72, 173, 0) */
  --lime-30: #347d00; /* rgb(52, 125, 0) */
  --lime-20: #225200; /* rgb(34, 82, 0) */
  --lime-10: #112900; /* rgb(17, 41, 0) */

  /* cyan */
  --cyan-99: #f7feff; /* rgb(247, 254, 255) */
  --cyan-95: #defaff; /* rgb(222, 250, 255) */
  --cyan-90: #b5f4ff; /* rgb(181, 244, 255) */
  --cyan-80: #8aedff; /* rgb(138, 237, 255) */
  --cyan-70: #57dff7; /* rgb(87, 223, 247) */
  --cyan-60: #28d0ed; /* rgb(40, 208, 237) */
  --cyan-50: #00bdde; /* rgb(0, 189, 222) */
  --cyan-40: #0098b2; /* rgb(0, 152, 178) */
  --cyan-30: #006f82; /* rgb(0, 111, 130) */
  --cyan-20: #004854; /* rgb(0, 72, 84) */
  --cyan-10: #00252b; /* rgb(0, 37, 43) */

  /* lightBlue */
  --lightBlue-99: #f7fdff; /* rgb(247, 253, 255) */
  --lightBlue-95: #e5f6fe; /* rgb(229, 246, 254) */
  --lightBlue-90: #c4ecfe; /* rgb(196, 236, 254) */
  --lightBlue-80: #a1e1ff; /* rgb(161, 225, 255) */
  --lightBlue-70: #70d2ff; /* rgb(112, 210, 255) */
  --lightBlue-60: #3dc2ff; /* rgb(61, 194, 255) */
  --lightBlue-50: #00aeff; /* rgb(0, 174, 255) */
  --lightBlue-40: #008dcf; /* rgb(0, 141, 207) */
  --lightBlue-30: #006796; /* rgb(0, 103, 150) */
  --lightBlue-20: #004261; /* rgb(0, 66, 97) */
  --lightBlue-10: #002130; /* rgb(0, 33, 48) */

  /* violet */
  --violet-99: #fbfaff; /* rgb(251, 250, 255) */
  --violet-95: #f0ecfe; /* rgb(240, 236, 254) */
  --violet-90: #dbd3fe; /* rgb(219, 211, 254) */
  --violet-80: #c0b0ff; /* rgb(192, 176, 255) */
  --violet-70: #9e86fc; /* rgb(158, 134, 252) */
  --violet-60: #7d5ef7; /* rgb(125, 94, 247) */
  --violet-50: #6541f2; /* rgb(101, 65, 242) */
  --violet-40: #4f29e5; /* rgb(79, 41, 229) */
  --violet-30: #3a16c9; /* rgb(58, 22, 201) */
  --violet-20: #23098f; /* rgb(35, 9, 143) */
  --violet-10: #11024d; /* rgb(17, 2, 77) */

  /* purple */
  --purple-99: #fefbff; /* rgb(254, 251, 255) */
  --purple-95: #f9edff; /* rgb(249, 237, 255) */
  --purple-90: #f2d6ff; /* rgb(242, 214, 255) */
  --purple-80: #e9baff; /* rgb(233, 186, 255) */
  --purple-70: #de96ff; /* rgb(222, 150, 255) */
  --purple-60: #d478ff; /* rgb(212, 120, 255) */
  --purple-50: #cb59ff; /* rgb(203, 89, 255) */
  --purple-40: #ad36e3; /* rgb(173, 54, 227) */
  --purple-30: #861cb8; /* rgb(134, 28, 184) */
  --purple-20: #580a7d; /* rgb(88, 10, 125) */
  --purple-10: #290247; /* rgb(41, 2, 71) */

  /* pink */
  --pink-99: #fffafe; /* rgb(255, 250, 254) */
  --pink-95: #feecfb; /* rgb(254, 236, 251) */
  --pink-90: #fed3f7; /* rgb(254, 211, 247) */
  --pink-80: #ffb8f3; /* rgb(255, 184, 243) */
  --pink-70: #ff94ed; /* rgb(255, 148, 237) */
  --pink-60: #fa73e3; /* rgb(250, 115, 227) */
  --pink-50: #f553da; /* rgb(245, 83, 218) */
  --pink-40: #d331b8; /* rgb(211, 49, 184) */
  --pink-30: #a81690; /* rgb(168, 22, 144) */
  --pink-20: #730560; /* rgb(115, 5, 96) */
  --pink-10: #3d0133; /* rgb(61, 1, 51) */

  /* 2025 올해의 색상 */
  --FutureDusk-normal-2025: #6e4c7f; /* rgb(110, 76, 127) */
  --FutureDusk-strong-2025: #634275; /* rgb(99, 66, 117) */
  --FutureDusk-heavy-2025: #523665; /* rgb(82, 54, 101) */
  --CinnamonSlate-normal-2025: #5d423f; /* rgb(93, 66, 63) */
  --CinnamonSlate-strong-2025: #4f3937; /* rgb(79, 57, 55) */
  --CinnamonSlate-heavy-2025: #3f2f2d; /* rgb(63, 47, 45) */
  --Rumors-normal-2025: #a52a2a; /* rgb(165, 42, 42) */
  --Rumors-strong-2025: #8f2626; /* rgb(143, 38, 38) */
  --Rumors-heavy-2025: #7a2020; /* rgb(122, 32, 32) */
  --Capsule-normal-2025: #d3bdae; /* rgb(211, 189, 174) */
  --Capsule-strong-2025: #bfa693; /* rgb(191, 166, 147) */
  --Capsule-heavy-2025: #a38d7d; /* rgb(163, 141, 125) */
  --PurpleBasil-normal-2025: #4c3f54; /* rgb(76, 63, 84) */
  --PurpleBasil-strong-2025: #44374b; /* rgb(68, 55, 75) */
  --PurpleBasil-heavy-2025: #3a2f42; /* rgb(58, 47, 66) */
  --Encore-normal-2025: #375e7d; /* rgb(55, 94, 125) */
  --Encore-strong-2025: #2e506a; /* rgb(46, 80, 106) */
  --Encore-heavy-2025: #263f56; /* rgb(38, 63, 86) */

  /* light */
  --static-white: var(--common-100);
  --static-black: var(--common-0);
  --primary-normal: var(--FutureDusk-normal-2025);
  --primary-strong: var(--FutureDusk-strong-2025);
  --primary-heavy: var(--FutureDusk-heavy-2025);
  --label-normal: var(--coolNeutral-10);
  --label-string: var(--common-0);
  --label-neutral: rgba(46, 47, 51, 0.88);
  --label-alternative: rgba(55, 56, 60, 0.61);
  --label-assistive: rgba(55, 56, 60, 0.28);
  --label-disable: rgba(55, 56, 60, 0.16);
  --background-normal-normal: var(--common-100);
  --background-normal-alternative: var(--coolNeutral-99);
  --background-elevated-normal: var(--common-100);
  --background-elevated-alternative: var(--coolNeutral-99);
  --interaction-inactive: var(--coolNeutral-70);
  --interaction-disable: var(--coolNeutral-98);
  --line-normal: rgba(112, 115, 124, 0.22);
  --line-neutral: rgba(112, 115, 124, 0.16);
  --line-alternative: rgba(112, 115, 124, 0.08);
  --line-solid-normal: var(--coolNeutral-96);
  --line-solid-neutral: var(--coolNeutral-97);
  --line-solid-alternative: var(--coolNeutral-98);
  --status-positive: var(--green-50);
  --status-cautionary: var(--orange-50);
  --status-destructive: var(--red-50);
  --accent-redOrange: var(--red-50);
  --accent-lime: var(--lime-50);
  --accent-cyan: var(--cyan-50);
  --accent-lightBlue: var(--lightBlue-50);
  --accent-violet: var(--violet-50);
  --accent-purple: var(--purple-50);
  --accent-pink: var(--pink-50);
  --inverse-primary: var(--blue-60);
  --inverse-background: var(--coolNeutral-15);
  --inverse-label: var(--coolNeutral-99);
  --fill-normal: rgba(112, 115, 124, 0.08);
  --fill-strong: rgba(112, 115, 124, 0.16);
  --fill-alternative: rgba(112, 115, 124, 0.05);
  --material-dimmer: rgba(23, 23, 25, 0.52);

  /* dark */
  --static-white-dark: var(--common-100);
  --static-black-dark: var(--common-0);
  --primary-normal-dark: var(--blue-60);
  --primary-strong-dark: var(--blue-55);
  --primary-heavy-dark: var(--blue-50);
  --label-normal-dark: var(--coolNeutral-99);
  --label-string-dark: var(--common-100);
  --label-neutral-dark: rgba(194, 196, 200, 0.88);
  --label-alternative-dark: rgba(174, 176, 182, 0.61);
  --label-assistive-dark: rgba(174, 176, 182, 0.28);
  --label-disable-dark: rgba(152, 155, 162, 0.16);
  --background-normal-normal-dark: var(--coolNeutral-15);
  --background-normal-alternative-dark: var(--coolNeutral-5);
  --background-elevated-normal-dark: var(--coolNeutral-17);
  --background-elevated-alternative-dark: var(--coolNeutral-7);
  --interaction-inactive-dark: var(--coolNeutral-40);
  --interaction-disable-dark: var(--coolNeutral-22);
  --line-normal-dark: rgba(112, 115, 124, 0.32);
  --line-neutral-dark: rgba(112, 115, 124, 0.28);
  --line-alternative-dark: rgba(112, 115, 124, 0.22);
  --line-solid-normal-dark: var(--coolNeutral-25);
  --line-solid-neutral-dark: var(--coolNeutral-23);
  --line-solid-alternative-dark: var(--coolNeutral-22);
  --status-positive-dark: var(--green-60);
  --status-cautionary-dark: var(--orange-60);
  --status-destructive-dark: var(--red-60);
  --accent-redOrange-dark: var(--red-60);
  --accent-lime-dark: var(--lime-60);
  --accent-cyan-dark: var(--cyan-60);
  --accent-lightBlue-dark: var(--lightBlue-60);
  --accent-violet-dark: var(--violet-60);
  --accent-purple-dark: var(--purple-60);
  --accent-pink-dark: var(--pink-60);
  --inverse-primary-dark: var(--blue-50);
  --inverse-background-dark: var(--common-100);
  --inverse-label-dark: var(--coolNeutral-10);
  --fill-normal-dark: rgba(112, 115, 124, 0.22);
  --fill-strong-dark: rgba(112, 115, 124, 0.28);
  --fill-alternative-dark: rgba(112, 115, 124, 0.12);
  --material-dimmer-dark: rgba(23, 23, 25, 0.74);

  /* shadow */
  --shadow-normal: 0px 1px 2px rgba(0, 0, 0, 0.12),
    0px 0px 1px rgba(0, 0, 0, 0.08), 0px 0px 1px rgba(0, 0, 0, 0.08);
  --shadow-emphasize: 0px 2px 8px rgba(0, 0, 0, 0.12),
    0px 1px 4px rgba(0, 0, 0, 0.08), 0px 0px 1px rgba(0, 0, 0, 0.08);
  --shadow-strong: 0px 6px 12px rgba(0, 0, 0, 0.12),
    0px 4px 8px rgba(0, 0, 0, 0.08), 0px 0px 4px rgba(0, 0, 0, 0.08);
  --shadow-heavy: 0px 16px 20px rgba(0, 0, 0, 0.12),
    0px 8px 16px rgba(0, 0, 0, 0.08), 0px 0px 8px rgba(0, 0, 0, 0.08);
}

@keyframes clipShrink1 {
  0% {
    clip-path: circle(120% at 0 0);
  }
  100% {
    clip-path: circle(0% at 0 0);
  }
}

@keyframes clipShrink2 {
  0% {
    clip-path: circle(120% at 100% 0);
  }
  100% {
    clip-path: circle(0% at 100% 0);
  }
}

@keyframes clipShrink3 {
  0% {
    clip-path: circle(120% at 0 100%);
  }
  100% {
    clip-path: circle(0% at 0 100%);
  }
}

@keyframes clipShrink4 {
  0% {
    clip-path: circle(120% at 100% 100%);
  }
  100% {
    clip-path: circle(0% at 100% 100%);
  }
}
