:root {
  /* common */
  --common-0: #000000;
  --common-100: #ffffff;

  /* neutral */
  --neutral-99: #f7f7f7;
  --neutral-95: #dcdcdc;
  --neutral-90: #c4c4c4;
  --neutral-80: #b0b0b0;
  --neutral-70: #9b9b9b;
  --neutral-60: #8a8a8a;
  --neutral-50: #737373;
  --neutral-40: #5c5c5c;
  --neutral-30: #474747;
  --neutral-22: #303030;
  --neutral-20: #2a2a2a;
  --neutral-15: #1c1c1c;
  --neutral-10: #171717;
  --neutral-5: #0f0f0f;

  /* coolNeutral */
  --coolNeutral-99: #f7f7f8;
  --coolNeutral-98: #f4f4f5;
  --coolNeutral-97: #eaebec;
  --coolNeutral-96: #e1e2e4;
  --coolNeutral-95: #dbdcdf;
  --coolNeutral-90: #c2c4c8;
  --coolNeutral-80: #aeb0b6;
  --coolNeutral-70: #989ba2;
  --coolNeutral-60: #878a93;
  --coolNeutral-50: #70737c;
  --coolNeutral-40: #5a5c63;
  --coolNeutral-30: #46474c;
  --coolNeutral-25: #37383c;
  --coolNeutral-23: #333438;
  --coolNeutral-22: #2e2f33;
  --coolNeutral-20: #292a2d;
  --coolNeutral-17: #212225;
  --coolNeutral-15: #1b1c1e;
  --coolNeutral-10: #171719;
  --coolNeutral-7: #141415;
  --coolNeutral-5: #0f0f10;

  /* blue */
  --blue-99: #f7fbff;
  --blue-95: #eaf2fe;
  --blue-90: #c9defe;
  --blue-80: #9ec5ff;
  --blue-70: #69a5ff;
  --blue-60: #3385ff;
  --blue-55: #1a75ff;
  --blue-50: #0066ff;
  --blue-45: #005eeb;
  --blue-40: #0054d1;
  --blue-30: #003e9c;
  --blue-20: #002966;
  --blue-10: #001536;

  /* red */
  --red-99: #fffafa;
  --red-95: #feecec;
  --red-90: #fed5d5;
  --red-80: #ffb5b5;
  --red-70: #ff8c8c;
  --red-60: #ff6363;
  --red-50: #ff4242;
  --red-40: #e52222;
  --red-30: #b00c0c;
  --red-20: #730303;
  --red-10: #3b0101;

  /* green */
  --green-99: #f2fff6;
  --green-95: #d9ffe6;
  --green-90: #acfcc7;
  --green-80: #7df5a5;
  --green-70: #49e57d;
  --green-60: #1ed45a;
  --green-50: #00bf40;
  --green-40: #009632;
  --green-30: #006e25;
  --green-20: #004517;
  --green-10: #00240c;

  /* orange */
  --orange-99: #fffcf7;
  --orange-95: #fef4e6;
  --orange-90: #fee6c6;
  --orange-80: #ffd49c;
  --orange-70: #ffc06e;
  --orange-60: #ffa938;
  --orange-50: #ff9200;
  --orange-40: #d47800;
  --orange-30: #9c5800;
  --orange-20: #663a00;
  --orange-10: #361e00;

  /* redOrange */
  --redOrange-99: #fffaf7;
  --redOrange-95: #feeee5;
  --redOrange-90: #fed9c4;
  --redOrange-80: #ffbd96;
  --redOrange-70: #ff9b61;
  --redOrange-60: #ff7b2e;
  --redOrange-50: #ff5e00;
  --redOrange-40: #c94a00;
  --redOrange-30: #913500;
  --redOrange-20: #592100;
  --redOrange-10: #290f00;

  /* lime */
  --lime-99: #f8fff2;
  --lime-95: #e6ffd4;
  --lime-90: #ccfca9;
  --lime-80: #aef779;
  --lime-70: #88f03e;
  --lime-60: #6be016;
  --lime-50: #58cf04;
  --lime-40: #48ad00;
  --lime-30: #347d00;
  --lime-20: #225200;
  --lime-10: #112900;

  /* cyan */
  --cyan-99: #f7feff;
  --cyan-95: #defaff;
  --cyan-90: #b5f4ff;
  --cyan-80: #8aedff;
  --cyan-70: #57dff7;
  --cyan-60: #28d0ed;
  --cyan-50: #00bdde;
  --cyan-40: #0098b2;
  --cyan-30: #006f82;
  --cyan-20: #004854;
  --cyan-10: #00252b;

  /* lightBlue */
  --lightBlue-99: #f7fdff;
  --lightBlue-95: #e5f6fe;
  --lightBlue-90: #c4ecfe;
  --lightBlue-80: #a1e1ff;
  --lightBlue-70: #70d2ff;
  --lightBlue-60: #3dc2ff;
  --lightBlue-50: #00aeff;
  --lightBlue-40: #008dcf;
  --lightBlue-30: #006796;
  --lightBlue-20: #004261;
  --lightBlue-10: #002130;

  /* violet */
  --violet-99: #fbfaff;
  --violet-95: #f0ecfe;
  --violet-90: #dbd3fe;
  --violet-80: #c0b0ff;
  --violet-70: #9e86fc;
  --violet-60: #7d5ef7;
  --violet-50: #6541f2;
  --violet-40: #4f29e5;
  --violet-30: #3a16c9;
  --violet-20: #23098f;
  --violet-10: #11024d;

  /* purple */
  --purple-99: #fefbff;
  --purple-95: #f9edff;
  --purple-90: #f2d6ff;
  --purple-80: #e9baff;
  --purple-70: #de96ff;
  --purple-60: #d478ff;
  --purple-50: #cb59ff;
  --purple-40: #ad36e3;
  --purple-30: #861cb8;
  --purple-20: #580a7d;
  --purple-10: #290247;

  /* pink */
  --pink-99: #fffafe;
  --pink-95: #feecfb;
  --pink-90: #fed3f7;
  --pink-80: #ffb8f3;
  --pink-70: #ff94ed;
  --pink-60: #fa73e3;
  --pink-50: #f553da;
  --pink-40: #d331b8;
  --pink-30: #a81690;
  --pink-20: #730560;
  --pink-10: #3d0133;

  /* 2025 올해의 색상 */
  --FutureDusk-normal-2025: #6e4c7f;
  --FutureDusk-strong-2025: #634275;
  --FutureDusk-heavy-2025: #523665;
  --CinnamonSlate-normal-2025: #5d423f;
  --CinnamonSlate-strong-2025: #4f3937;
  --CinnamonSlate-heavy-2025: #3f2f2d;
  --Rumors-normal-2025: #a52a2a;
  --Rumors-strong-2025: #8f2626;
  --Rumors-heavy-2025: #7a2020;
  --Capsule-normal-2025: #d3bdae;
  --Capsule-strong-2025: #bfa693;
  --Capsule-heavy-2025: #a38d7d;
  --PurpleBasil-normal-2025: #4c3f54;
  --PurpleBasil-strong-2025: #44374b;
  --PurpleBasil-heavy-2025: #3a2f42;
  --Encore-normal-2025: #375e7d;
  --Encore-strong-2025: #2e506a;
  --Encore-heavy-2025: #263f56;

  /* light */
  --static-white: var(--common-100);
  --static-black: var(--common-0);
  --primary-normal: var(--FutureDusk-normal-2025);
  --primary-strong: var(--FutureDusk-strong-2025);
  --primary-heavy: var(--FutureDusk-heavy-2025);
  --label-normal: var(--coolNeutral-10);
  --label-string: var(--common-0);
  --label-neutral: rgba(46, 47, 51, 0.88);
  --label-alternative: rgba(55, 56, 60, 0.61);
  --label-assistive: rgba(55, 56, 60, 0.28);
  --label-disable: rgba(55, 56, 60, 0.16);
  --background-normal-normal: var(--common-100);
  --background-normal-alternative: var(--coolNeutral-99);
  --background-elevated-normal: var(--common-100);
  --background-elevated-alternative: var(--coolNeutral-99);
  --interaction-inactive: var(--coolNeutral-70);
  --interaction-disable: var(--coolNeutral-98);
  --line-normal: rgba(112, 115, 124, 0.22);
  --line-neutral: rgba(112, 115, 124, 0.16);
  --line-alternative: rgba(112, 115, 124, 0.08);
  --line-solid-normal: var(--coolNeutral-96);
  --line-solid-neutral: var(--coolNeutral-97);
  --line-solid-alternative: var(--coolNeutral-98);
  --status-positive: var(--green-50);
  --status-cautionary: var(--orange-50);
  --status-destructive: var(--red-50);
  --accent-redOrange: var(--red-50);
  --accent-lime: var(--lime-50);
  --accent-cyan: var(--cyan-50);
  --accent-lightBlue: var(--lightBlue-50);
  --accent-violet: var(--violet-50);
  --accent-purple: var(--purple-50);
  --accent-pink: var(--pink-50);
  --inverse-primary: var(--blue-60);
  --inverse-background: var(--coolNeutral-15);
  --inverse-label: var(--coolNeutral-99);
  --fill-normal: rgba(112, 115, 124, 0.08);
  --fill-strong: rgba(112, 115, 124, 0.16);
  --fill-alternative: rgba(112, 115, 124, 0.05);
  --material-dimmer: rgba(23, 23, 25, 0.52);

  /* dark */
  --static-white-dark: var(--common-100);
  --static-black-dark: var(--common-0);
  --primary-normal-dark: var(--blue-60);
  --primary-strong-dark: var(--blue-55);
  --primary-heavy-dark: var(--blue-50);
  --label-normal-dark: var(--coolNeutral-99);
  --label-string-dark: var(--common-100);
  --label-neutral-dark: rgba(194, 196, 200, 0.88);
  --label-alternative-dark: rgba(174, 176, 182, 0.61);
  --label-assistive-dark: rgba(174, 176, 182, 0.28);
  --label-disable-dark: rgba(152, 155, 162, 0.16);
  --background-normal-normal-dark: var(--coolNeutral-15);
  --background-normal-alternative-dark: var(--coolNeutral-5);
  --background-elevated-normal-dark: var(--coolNeutral-17);
  --background-elevated-alternative-dark: var(--coolNeutral-7);
  --interaction-inactive-dark: var(--coolNeutral-40);
  --interaction-disable-dark: var(--coolNeutral-22);
  --line-normal-dark: rgba(112, 115, 124, 0.32);
  --line-neutral-dark: rgba(112, 115, 124, 0.28);
  --line-alternative-dark: rgba(112, 115, 124, 0.22);
  --line-solid-normal-dark: var(--coolNeutral-25);
  --line-solid-neutral-dark: var(--coolNeutral-23);
  --line-solid-alternative-dark: var(--coolNeutral-22);
  --status-positive-dark: var(--green-60);
  --status-cautionary-dark: var(--orange-60);
  --status-destructive-dark: var(--red-60);
  --accent-redOrange-dark: var(--red-60);
  --accent-lime-dark: var(--lime-60);
  --accent-cyan-dark: var(--cyan-60);
  --accent-lightBlue-dark: var(--lightBlue-60);
  --accent-violet-dark: var(--violet-60);
  --accent-purple-dark: var(--purple-60);
  --accent-pink-dark: var(--pink-60);
  --inverse-primary-dark: var(--blue-50);
  --inverse-background-dark: var(--common-100);
  --inverse-label-dark: var(--coolNeutral-10);
  --fill-normal-dark: rgba(112, 115, 124, 0.22);
  --fill-strong-dark: rgba(112, 115, 124, 0.28);
  --fill-alternative-dark: rgba(112, 115, 124, 0.12);
  --material-dimmer-dark: rgba(23, 23, 25, 0.74);

  /* shadow */
  --shadow-normal: 0px 1px 2px rgba(0, 0, 0, 0.12),
    0px 0px 1px rgba(0, 0, 0, 0.08), 0px 0px 1px rgba(0, 0, 0, 0.08);
  --shadow-emphasize: 0px 2px 8px rgba(0, 0, 0, 0.12),
    0px 1px 4px rgba(0, 0, 0, 0.08), 0px 0px 1px rgba(0, 0, 0, 0.08);
  --shadow-strong: 0px 6px 12px rgba(0, 0, 0, 0.12),
    0px 4px 8px rgba(0, 0, 0, 0.08), 0px 0px 4px rgba(0, 0, 0, 0.08);
  --shadow-heavy: 0px 16px 20px rgba(0, 0, 0, 0.12),
    0px 8px 16px rgba(0, 0, 0, 0.08), 0px 0px 8px rgba(0, 0, 0, 0.08);
}

@keyframes clipShrink1 {
  0% {
    clip-path: circle(120% at 0 0);
  }
  100% {
    clip-path: circle(0% at 0 0);
  }
}

@keyframes clipShrink2 {
  0% {
    clip-path: circle(120% at 100% 0);
  }
  100% {
    clip-path: circle(0% at 100% 0);
  }
}

@keyframes clipShrink3 {
  0% {
    clip-path: circle(120% at 0 100%);
  }
  100% {
    clip-path: circle(0% at 0 100%);
  }
}

@keyframes clipShrink4 {
  0% {
    clip-path: circle(120% at 100% 100%);
  }
  100% {
    clip-path: circle(0% at 100% 100%);
  }
}

.clipShrink1 {
  animation: clipShrink1 1s ease-in-out forwards;
}

.clipShrink2 {
  animation: clipShrink2 1.5s ease-in-out forwards;
}

.clipShrink3 {
  animation: clipShrink3 1.6s ease-in-out forwards;
}

.clipShrink4 {
  animation: clipShrink4 1.1s ease-in-out forwards;
}

.loading-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  z-index: 100;
  width: 100vw;
  height: 100vh;
  border: 1px solid; /* Define color or use a specific style if needed */
  background-color: rgba(
    240,
    240,
    240,
    0.9
  ); /* Equivalent to bg-common-100 bg-opacity-90 */
  transition: all 0.5s ease;
}

.loading-container.hidden {
  transform: translateY(-100vh);
  opacity: 0;
}

.fade-bubble {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  width: 100vw;
  height: 100vh;
  font-size: 48px;
}

.fade-bubble-primary {
  animation: clipShrink1 1s ease-in-out forwards;
  background-color: #007bff; /* Primary color equivalent */
}

.fade-bubble-lime {
  animation: clipShrink2 1.5s ease-in-out forwards;
  background-color: rgba(173, 255, 47, 0.1); /* Lime with 10% opacity */
}

.fade-bubble-blue {
  animation: clipShrink3 1.6s ease-in-out forwards;
  background-color: rgba(70, 130, 180, 0.05); /* Blue with 5% opacity */
}

.fade-bubble-sky {
  animation: clipShrink4 1.1s ease-in-out forwards;
  background-color: rgba(135, 206, 250, 0.3); /* Sky blue with 30% opacity */
}
